<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

  </configSections>

  <!--Data-->
  <connectionStrings configSource="storage\config\connectionStrings.config"></connectionStrings>

  <!--App-->
  <appSettings configSource="storage\config\appSettings.config"></appSettings>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!--Error Custom-->
    <customErrors mode="On" defaultRedirect="GenericError.html">
      <error statusCode="500" redirect="InternalError.html" />
      <error statusCode="404" redirect="NotFound.html" />
    </customErrors>

  </system.web>

  <!--Server-->
  <system.webServer>
    <!--Gzip Enabled-->
    <!--<urlCompression doStaticCompression="true" doDynamicCompression="true" />-->

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />

      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

      <add name="fonts" path="*.woff" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="fonts2" path="*.woff2" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" />

  </system.webServer>

  <!--Runtime-->
  <runtime>

  </runtime>

</configuration>