<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!--Custom Error-->
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.html" />
      <error statusCode="404" redirect="NotFound.html" />
    </customErrors>
  </system.web>
</configuration>