<?xml version="1.0"?>
<appSettings>
  <!--Site-->
  <add key="Site.Head.Title" value="Learn | Azmi ŞAHİN | Scientist"/>
  <add key="Site.Head.Description" value="Website , Software, Cosmos, Technology , Electronics, Physics, Chemistry and Life dealing with ; scientist . Azmi ŞAHİN."/>
  <add key="Site.Head.Image" value="//azmisahin.github.io/favicon.jpg"/>
  <add key="Site.Head.Url" value="//azmisahin.github.io"/>
  <add key="Site.Head.Icon" value="//azmisahin.github.io/favicon.png"/>
  <add key="Site.Head.Author" value="azmisahin.com"/>
  <add key="Site.Head.Generator" value="bilgi(at)azmisahin.com"/>
</appSettings>